<div class="container">
    <div *ngFor="let row of rows; let i = index;">
        <div *ngFor="let col of cols;let j = index;" 
            id="{{row+'*'+col}}"
            class="group2">
            <dot-component id="{{row+'-'+col}}"
                class="invisible"
                dotHeight="100" 
                dotWidth="100"
                dotCx="50" 
                dotCy="50" 
                dotR="40" 
                dotFill="brown">
            </dot-component>
        </div>
    </div>
</div>
