<div *ngIf="!navigating" 
  class="pictureBg">
  <p>&nbsp;
  <svg height="470" width="460"
  viewBox="0 0 110 100">
    <g fill="none">
      <path stroke="#894635" 
        d="M5 0 110 0"
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"
        (click)="clickDot('1')"/>
      <path stroke="#894635" 
        d="M5 10 110 10"
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
      <path stroke="#894635" 
        d="M5 20 110 20" 
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
      <path stroke="#894635"
        d="M5 30 110 30" 
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
      <path stroke="#894635"
        d="M5 40 110 40" 
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
      <path stroke="#894635"
        d="M5 50 110 50" 
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
        
      <path stroke="#fff"
        d="M5 60 110 60" 
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
      <path stroke="#fff"
        d="M5 70 110 70" 
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
      <path stroke="#fff"
        d="M5 80 110 80" 
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
      <path stroke="#894635"
        d="M5 90 110 90" 
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
      <path stroke="#894635"
        d="M5 100 110 100" 
        stroke-linecap="round"
        stroke-width="10"
        stroke-dasharray="1,10"/>
    </g>
  </svg>
</div> 
<div *ngIf="navigating" >
  <router-outlet></router-outlet>
</div>